[user]
        name = Krzysztof Madejski
        email = krzysztof@madejscy.pl
[core]
        autocrlf = input
        editor = vim
        excludesFile = ~/.gitignore
[push]
        default = simple
